<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div>
    <form th:method="POST"
          th:action="@{/updateUser}"
          th:object="${users}">

        <input hidden="hidden" type="number" th:field="*{id}" id="idAdd" placeholder="id">
        <label for="usernameUpdate">Email</label>
        <input type="text" th:field="*{username}" id="usernameUpdate" placeholder="Name">

        <label for="firstNameUpdate">FirstName</label>
        <input type="text" th:field="*{firstName}" id="firstNameUpdate" placeholder="LastName">

        <label for="lastNameUpdate">LastName</label>
        <input type="text" th:field="*{lastName}" id="lastNameUpdate" placeholder="Email">

        <label for="passwordUpdate">Password</label>
        <input type="password" th:field="*{password}" id="passwordUpdate" placeholder="Password">
        <label>Role:
            <select name="role" multiple size="2">
                <option th:each="role : ${roles}"

                        th:text="${role.getName()}">
                </option>
            </select>
        </label>
        <input type="submit" value="Update User">
    </form>
</div>
</body>
</html>